/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
.body {
    animation: anime1 3s ease ;
}
@keyframes anime1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*  リセット終了　*/
a,h2,h3,li,ul {
    color: #636b6f;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem
}

a {
    text-decoration: none;
    color: #636b6f;
    border: 1px solid gray;
}
.answer p {
    text-decoration: none;
    color: #636b6f;
    border: 1px solid gray;
    cursor: pointer;
    display: inline-block;
    width: 180px;
    margin: 0 auto;
    transition: 0.7s;
    border-radius: 10px;
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
header {
    height: 80px;
    line-height: 80px;
    padding: 0 24px;
    background-color: green;
    color:white;
}
.header-title {
    display: flex;
}

#container {
    width: 600px;
    margin: 0 auto;
    padding: 64px 0 72px 0;
    border-radius: 10px;
    height: calc(100% - 248px);
}

.question-title {
    max-width: 100%;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.question-title p {
    word-wrap: normal;
    margin-top: 32px;
    font-size: 1.2rem;
    letter-spacing: 1.1;
    line-height: 1.7;
}
#none {
/* display: none; */
}
.answer {
    height: 40px;
    width: 400px;
    margin: 80px auto 0 auto;
    line-height: 40px;
    text-align: center;
    
}
.answer a {
    padding: 16px 24px;
    border-radius: 10px;
    margin: 0 24px;
    transition: 0.5s;
    width: 160px;
    transition: 0.7s;
}
.answer p:hover {
    background-color: #dc8d88;
    color: white;
    border: 1px solid #dc8d88;
    transition: 0.7s;
}
#none {
    display: none;
}
/*result*/
.links-result {
    display: flex;
    margin-top: 24px;
    width: 500px;
    margin: 16px auto 0 auto;
}
#cooking ,#eating-out{
    width:234px;
    margin: 0 auto;
    /* border-top: 1px solid #dc8d88;
    border-left: 1px solid #dc8d88;
    border-right: 1px solid #dc8d88; */
    margin: 8px 16px;
}
.links-result h3 {
    padding-bottom: 16px;
    font-size: 1.3rem;
    /* border-bottom: 1px solid #dc8d88; */
    padding: 16px 24px;
}
.arrow{
    position: relative;
    background: #dc8d88;
    padding: 2em;
    margin-bottom: 20px;
    color: white;
  }
.arrow:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #dc8d88 transparent transparent transparent;
    border-width: 20px 20px 0 20px;
}
.links-result a {
    border: none;
    display: block;
    padding: 16px;
    border-bottom: 1px solid #dc8d88;
}

#problem {
    text-align: center;
    background-color: #dc8d88;
    padding: 16px;
    color: white;
    width: 438px;
    margin: 0 auto;
}
#choice {
    margin: 48px auto 0 auto;
    text-align: center;
}
a {
    transition: 0.7s;
}
a:hover{
    background-color:#dc8d88;
    transition: 0.7s;
    color:white;
}
footer {
    height: 32px;
    line-height: 32px;
    background-color: green;
    color: white;
    text-align: center;
}